{% extends 'base.html' %}
{% block title %}Профіль користувача{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">Профіль користувача</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ profile.user.email }}</p>
                    <p class="card-text"><strong>Ім'я:</strong> {{ profile.user.first_name }}</p>
                    <p class="card-text"><strong>Прізвище:</strong> {{ profile.user.last_name }}</p>
                    {% if profile.address %}
                        <hr>
                        <h6>Адреса:</h6>
                        <p class="mb-0">{{ profile.address.street }}, {{ profile.address.city }}</p>
                        <p class="mb-0">{{ profile.address.postal_code }}, {{ profile.address.country }}</p>
                    {% endif %}
                </div>

                
            </div>
            <a href="{% url 'accounts:edit_profile' %}" class="btn btn-dark">Редагувати профіль</a>
            <br><br>
            <form method="post" action="{% url 'accounts:delete_profile' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger ">Видалити профіль</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
