
{% extends 'base.html' %}

{% block title %}{{ product.name }} | Wanted Shop{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Wanted Shop</a>
    </div>
</nav>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            {% if product.images.all %}
                {% for image in product.images.all %}
                    <img src="{{ image.image.url }}" class="img-fluid mb-2" alt="{{ image.alt_text }}">
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p><strong>Ціна:</strong> {{ product.price }} грн</p>
            <p><strong>Колір:</strong> {{ product.color }}</p>
            <p><strong>Розмір:</strong> {{ product.size }}</p>
            <a href="/" class="btn btn-primary">Назад до магазину</a>
        </div>
    </div>
</div>
{% endblock %}
