
{% extends 'base.html' %}

{% block title %}{{ product.name }} | Wanted Shop{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid mb-2" alt="{{ product.name }}" style="max-height: 400px; object-fit: cover;">
            {% else %}
                <img src="/static/media/products/isnt_picture.jpg" class="img-fluid mb-2" alt="{{ product.name }}" style="max-height: 400px; object-fit: cover;">
            {% endif %}
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-between">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p><strong>Ціна:</strong> {{ product.price }} грн</p>
            <p><strong>Колір:</strong> {{ product.color }}</p>
            <p><strong>Розмір:</strong> {{ product.size }}</p>
            <p><strong>Рейтинг:</strong> {{ product.rating|floatformat:1 }} / 5.0</p>
            <a href="/" class="btn btn-dark" style="width: 175px;">Назад до магазину</a>
            <form method="post" action="{% url 'cart:add_cart' product.id %}" class="card-body d-flex flex-column mt-auto">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-success mt-2" style="width: 175px;">Додати в кошик</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
