{% load static %}
<header class="bg-black text-white py-3 mb-4">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-between">
			<a class="navbar-brand fw-bold text-white" href="{% url 'home' %}">Wanted Shop</a>
			<ul class="nav list-inline mb-0">
				<li class="list-inline-item"><a class="nav-link text-white" href="{% url 'home' %}">Головна</a></li>
				{% for category in categories %}
				<li class="list-inline-item"><a class="nav-link text-white" href="{% url 'product_list_by_category' category.id %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</header>
